*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  font-family: 'Inter', sans-serif;
  
  margin: 0 auto;
}
.container{
  max-width: 760px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: inherit;
  
}
.button-link{
  text-transform: uppercase;
}



/* навигация */
.nav{ 
  width: 100%;
  background-color: white;  
  margin: 0 auto;
  padding: 1.5rem 0;
  text-transform: uppercase;
  
  
}
.nav__inner{
  width: 100%;  
  display: flex;
  justify-content: space-between;

  
}
.name__nav{
  font-size: 14px;
  font-style: italic;
}
.menu{
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 30%;
}
.link__menu+.link__menu{
  margin-left: 1.5rem;
}
.link__menu{
  padding: .2rem;
  opacity: .4;
  transition: all .5s ease;
}
.link__menu:hover{
  opacity: 1;
}
.hero{
  background-image: url("img/2.png");
  height: auto;

  
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(60, 76, 89, 0.7), rgba(60, 76, 89, 0.7)), rgba(191, 89, 52, 0.1);


}
.hero__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 1rem 80px 1rem;
  position: relative;
  z-index: 11;

}
h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  
  color: #FFFFFF;
  text-shadow:
      -0 -4px 0 #000000,
      0 -4px 0 #000000,
      -0 4px 0 #000000,
      0 4px 0 #000000,
      -4px -0 0 #000000,
      4px -0 0 #000000,
      -4px 0 0 #000000,
      4px 0 0 #000000,
      -1px -4px 0 #000000,
      1px -4px 0 #000000,
      -1px 4px 0 #000000,
      1px 4px 0 #000000,
      -4px -1px 0 #000000,
      4px -1px 0 #000000,
      -4px 1px 0 #000000,
      4px 1px 0 #000000,
      -2px -4px 0 #000000,
      2px -4px 0 #000000,
      -2px 4px 0 #000000,
      2px 4px 0 #000000,
      -4px -2px 0 #000000,
      4px -2px 0 #000000,
      -4px 2px 0 #000000,
      4px 2px 0 #000000,
      -3px -4px 0 #000000,
      3px -4px 0 #000000,
      -3px 4px 0 #000000,
      3px 4px 0 #000000,
      -4px -3px 0 #000000,
      4px -3px 0 #000000,
      -4px 3px 0 #000000,
      4px 3px 0 #000000,
      -4px -4px 0 #000000,
      4px -4px 0 #000000,
      -4px 4px 0 #000000,
      4px 4px 0 #000000,
      -4px -4px 0 #000000,
      4px -4px 0 #000000,
      -4px 4px 0 #000000,
      4px 4px 0 #000000;

  
}
.hero__parag{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  
  color: #FFFFFF;
  text-shadow:
      -0 -1px 0 #265AE1,
      0 -1px 0 #265AE1,
      -0 1px 0 #265AE1,
      0 1px 0 #265AE1,
      -1px -0 0 #265AE1,
      1px -0 0 #265AE1,
      -1px 0 0 #265AE1,
      1px 0 0 #265AE1,
      -1px -1px 0 #265AE1,
      1px -1px 0 #265AE1,
      -1px 1px 0 #265AE1,
      1px 1px 0 #265AE1,
      -1px -1px 0 #265AE1,
      1px -1px 0 #265AE1,
      -1px 1px 0 #265AE1,
      1px 1px 0 #265AE1;

}
.button{
  
  margin: 60px 0 0 0;
}
.button-link{
  padding: 1rem 1.5rem;
  background: linear-gradient(89.78deg, rgba(64, 59, 59, 0.2) -1.44%, rgba(18, 17, 17, 0.088) 48.94%, rgba(62, 44, 44, 0.2) 89.43%), #D10303;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
    
  text-transform: uppercase;
    
  color: #FFFFFF;
  transition: all .4s ease;

}
.button-link:hover{
  color: #000000;
  background-color: #FFFFFF;
  
}


.main{
  margin-top: 60px;
  width: 100%;
}

.main__box__photo{
  display: flex;
  justify-content: center;
  margin: 60px 0;

}