*,
::before,
::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  overflow: auto;
}
body{
	background: linear-gradient(135deg, rgb(12, 40, 51) 61%, rgb(0, 0, 0));
}
img{
	max-width: 100%;
}
li{
	list-style: none;
	

}
a{
	text-decoration: none;
	color: inherit;
}
span{
  font-weight: normal;
}

.container{
	max-width: 1187px;
	margin: 0 auto;
}
/*определяем сетку*/

 .grid {
   display: grid;
   grid-template-columns: 38.75315922493682% 59.4776748104465%;
   /* 460px 706px */
   grid-template-rows: repeat(2, auto);
   column-gap: 1.684919966301601%;
 }


/*левый блок*/
.left__hero{
	grid-column: 1;
	grid-row: 1;
	position: sticky;
	top: 0;
	left: 0;
  height: 100%;
}
.text__block{	
	position: relative;
	padding: 1.75em 0;
	width: 10.85em;
	height: 5.45em;
	font-family: 'Raleway';
	font-size: 1.25em;
  /* 20px */
	line-height: 0.75em;
	z-index: 10;
	position: relative;
}
.text__block::before{
	content: "";
	position: absolute;
	top: 30px;
	left: -40px;
	width: 1px;
	height: 18.75rem;
	background-color: black;
}
.bold{
	font-weight: 700;
}

.white__block{
	height: 21.516875rem;
	width: 367px;
	position: absolute;
	background: #F8F4F4;
	
	top: 0;
	left: -150px;
}
.left__img{
	position: relative;

	z-index: 10;
	max-width: 28.75rem;
  border-bottom: 2px solid rgba(255, 253, 253, 0.382);
  

}

/*правый блок*/
.rigth__hero{
	grid-column: 2;
	grid-row: 1;
	padding-top: 1.625rem;
}
.right__block{
	width: 44.1625rem;
	height: 37.75rem;
	background: #F8F4F4;
}
/*навигация в правом блоке*/
.nav{
	/* height: 4.375rem; */
  height: 3.5em;
	padding-left: 4.75em;
	padding-right: 12.25em;
}
.nav__list{
	display: flex;
	border-bottom: 1px solid black;
	align-items: center;
	justify-content: center;

	height: 100%;
}
.nav__link{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 1.25rem;
  /* font-size: 20px; */
	/* line-height: 23px; */
  line-height: 1.15em;
	padding: 1rem;
	color: #000000;
	
	display: inline-block;
	opacity: .4;
	transition: all .3s ease;
	text-transform: uppercase;
}
.nav__link:hover{
	opacity: .9;
	
	
	
}

/*текст правого блока*/

.uptitle__list{
	padding: 1.666666666666667em 4.583333333333333em;
	/* font-size: 24px; */
  
}
.uptitle__list-item{
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 400;
	padding-bottom: 1.25em;
	line-height: 1.166666666666667em;
	color: #000000;
  font-size: 1.5rem;


}
.title{
	font-family: 'Cormorant Infant';
	font-style: normal;
	font-weight: 700;
	font-size: 3rem;
  /* font-size: 48px; */
	/* line-height: 58px; */
  line-height: 1.208333333333333em;
	
	text-align: center;

	color: #1A507B;
}
.wrap__batton{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2em 0;
}
.batton{
	background: #1F1D1D;
	border-radius: 2em;
	width: 10.7525em;
  /* 215.05px 60px*/
	height: 3em;
	
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 1.25rem;
  /* font-size:20px; */
	line-height: 1.15em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.batton__link{
	height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
	color: #148466;
  transition: all .5s ease;
  
}
.batton__link:hover{
  box-shadow: 0px 0px 51px -2px rgba(20, 132, 102, 1);
  border-radius: 2em;
  
  
}

/*нижний правый блок*/
 .dowm__right__hero {
   grid-column: 2;
   grid-row: 2;
   align-content: center;
  
   /* max-height: 200px; */

 }

 .dowm__box {
   background-color: #F8F4F4;
   margin-top: 5em;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   /* font-size: 20px; */
   font-size: 1.25rem;
   line-height: 1.25em;
   color: #000000;
   padding: 2.05em 1.1em 3.9em 4.6em;
   width: 100%;
   height: auto;


 }
.hero__text{
	margin-top: 0.8em;

}
.text__bold{
  font-weight: 700;
}







.forBatton{
  
  position: relative;
}

/*блок about*/
 .about__course {
   margin-top: 5rem;
   height: 50vh;
   border-bottom: 2px solid #F8F4F4;
   
 }
/* .wrapper__about{
  display: flex;
  flex-direction: column;

} */
.about__header{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	line-height: 1.15em;
	color: #FFFFFF;
	width: 100%;
	padding: 1.8em;
  
}
.box__about{
  display: flex;
  justify-content: space-around;
  
}
.about__item{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    font-size: 1.25rem;
    line-height: 1.15em;
    color: #FFFFFF;
    width: 100%;
   text-align: center;
}
.about__item_title{
  font-size: 1.4em;
  /* font-size:28px; */
  margin-bottom: 0.8em;
}
.about__item__example{
  margin-bottom: 0.4em;
  /* 8px */
}

.about__batton{
  position: absolute;
  top: calc(50vh - 4em);
  left: 0;
  z-index: 100;
 
  

}
.batton__about{
  background-color: #F8F4F4;
  box-shadow: 0px 0px 21px 9px rgba(221, 217, 86, .5);
  
}
/* price */
.price{
  
  height: 50vh;
  /* border-top: 2px solid #F8F4F4; */
  
}


.header__price{
  text-align: end;
}

@media screen and (max-height:800px){
  .price {
      width: 100%;
      height: 50vh;
    
  
    }
  
}

@media screen and (max-width: 1250px){
  html {
      scroll-behavior: smooth;
      font-size: 10px;
      overflow: auto;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      /* 460px 706px */
      grid-template-rows: repeat(2, auto);
      column-gap: 1rem;
      padding: 0 5rem;
 }
    .text__block {
      
      font-size: 2em;
      /* 20px */
      
    }
    .right__block {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 42rem;
    }
    .nav {
      /* height: 4.375rem; */
      height: 3.5em;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding: 0;
    }
    .nav__link {
      font-size: 1.5rem;
      /* font-size: 20px; */
      /* line-height: 23px; */
     
    
      
    }
    .uptitle__list {
      padding: 2em 4em;
      /* font-size: 24px; */
  
    }
    
    .uptitle__list-item {
      
      font-size: 2rem;
      padding-bottom: 1em;
  
  
    }
    .title {
      font-family: 'Cormorant Infant';
      font-style: normal;
      font-weight: 700;
      font-size: 4rem;
      /* font-size: 48px; */
      /* line-height: 58px; */
      line-height: 1em;
  
      text-align: center;
  
      color: #1A507B;
    }
    .wrap__batton {
      margin: 2.5em 0 2em 0;
    }
    .batton {
    
      font-size: 1.6rem;
      
    }
    .dowm__box {
      background-color: #F8F4F4;
      margin-top: 5.5em;
     
      /* font-size: 20px; */
      font-size: 2rem;
      line-height: 1.25em;
      color: #000000;
      padding: 2.05em 1.1em 3.9em 4.6em;
      width: 100%;
      height: auto;
  
  
    }
    .about__header {
      font-size: 2.7em;
       
    }
    .about__item {
      
      /* font-size: 20px; */
      font-size: 1.6rem;
     
    }
    .about__batton {
      top: calc(50vh - 5em);
     
    }
}

@media screen and (max-width:976px){
  .grid {
      display: grid;
      grid-template-columns: 1fr;
      /* 460px 706px */
      grid-template-rows: repeat(4, auto);
      
    }
    .left__hero {
      grid-column: 1;
      grid-row: 2;
      position: relative;
      display: flex;
      width: 100%;
      margin-bottom: 3rem;
   
    }
    .left__img {
      width: 100%;
      max-width: 40vw;
      border-bottom: 0px solid rgba(255, 253, 253, 0.382);
      
  
    }
    .white__block {
      
      height: 90%;
      width: 60%;
      position: absolute;
      background: #f8f4f4;
      top:10%;
      left: 30%;
  
      
    }
    .text__block {
      order: 2;
      color: black;
      padding: 1.75em 0;
      border-bottom: 2px solid black;
      font-size: 2em;
      /* 20px */
      
      z-index: 20;
      position: absolute;
      top: 10%;
      left: 50%;
      
    }
   
    .text__block::before {
    
      display: none;
     
    }

    .rigth__hero {
      grid-column: 1;
      grid-row: 1;
      padding-top: 1.625rem;
      
    }
    .right__block {
      width: 100%;
      height: 37.75rem;
      background: #F8F4F4;
      border-radius: 3em 0 3em 0;
    }

    .dowm__right__hero {
      grid-column: 1;
      grid-row: 3;
      align-content: center;
  
      /* max-height: 200px; */
  
    }

    

     .about__course {
       margin-top: 5rem;
       height: 100%;
       border-bottom: 1px solid #F8F4F4;
  
     }

    
    .box__about{
      display: flex;
      flex-direction: column;
    }
    .about__item {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      /* font-size: 20px; */
      font-size: 1.25rem;
      line-height: 1.15em;
      color: #FFFFFF;
      width: 100%;
      text-align: center;
      margin-bottom: 3rem;
    }

     
      
}

